@using TravelManagerFE.Data
@using Newtonsoft.Json
@using Blazored.SessionStorage

@page "/tripList"

<AuthorizeView>
    <Authorized>
        <div>
            <h3>Trip List <MatButton @onclick="CreateTrip">Create new</MatButton> </h3>

        </div>

        <div>
            <MatTabGroup>
                @if (currentUser != null)
                {
                    <MatTab Label="Your trips">

                        <p></p>
                        @if (trips.Any(t => t.Creator.Id == currentUser.Id))
                        {
                            <table>
                                <tr>
                                    <th>Title</th>
                                    <th>Creator</th>
                                    <th>Organisation</th>
                                    <th></th>
                                </tr>
                                @foreach (var trip in trips.Where(t => t.Creator.Id == currentUser.Id))
                                {
                                    <tr class="trip-table-row">
                                        <td>@trip.Title</td>
                                        <td>@trip.Creator.Name @trip.Creator.Surname</td>
                                        <td>@trip.Organisation?.Title</td>
                                        <td><MatButton @onclick="@(() => GetDetails(trip))">Details</MatButton></td>
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <p></p>
                            <p>No trips created by you</p>
                        }
                    </MatTab>
                    <MatTab Label="Organization trips">
                        <p></p>
                        @if (trips.Any(t => t.Creator.Id != currentUser.Id))
                        {

                            <table>
                                <tr>
                                    <th>Title</th>
                                    <th>Creator</th>
                                    <th>Organisation</th>
                                    <th></th>
                                </tr>
                                @foreach (var trip in trips.Where(t => t.Creator.Id != currentUser.Id))
                                {
                                    <tr class="trip-table-row">
                                        <td>@trip.Title</td>
                                        <td>@trip.Creator.Name @trip.Creator.Surname</td>
                                        <td>@trip.Organisation?.Title</td>
                                        <td><MatButton @onclick="@(() => GetDetails(trip))">Details</MatButton></td>
                                    </tr>
                                }
                            </table>
                        }
                        else
                        {
                            <p></p>
                            <p>No trips created by your organization members</p>
                        }
                    </MatTab>
                }
            </MatTabGroup>
        </div>
    </Authorized>
    <NotAuthorized>
        You are not welcome here!
    </NotAuthorized>
</AuthorizeView>

@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager
@inject TripService TripService
@inject ISessionStorageService sessionStorageService;

@code {
    private List<Trip> trips = new List<Trip>();
    private User currentUser = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        trips = TripService.GetTrips();
        var user = await sessionStorageService.GetItemAsync<string>("user");

        if (user != null)
        {
            currentUser = JsonConvert.DeserializeObject<User>(user);
        }
    }

    private void GetDetails(Trip trip)
    {
        NavigationManager.NavigateTo($"tripdetails/{trip.Id}");
    }

    private void CreateTrip()
    {
        NavigationManager.NavigateTo($"tripcreation");
    }
}
